/* .App {
  text-align: center;
} */
.App {
  position: relative;
}
.write {
  position: absolute;
  background: white;

  height: 100%;
  width: 100%;
  z-index: 10;
}
.inner-content {
  position: relative;
  height: 100%;
  width: 100%;
}
.carousel-content {
  position: relative;
}
.time-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  margin: auto;
}
